<!DOCTYPE html>

<html>

<head>

</head>
<body>

    <div class="main-content">
          {{>header}}
          <p> It uses data from weatherstack.com and mapbox.com</p><br>
          <p>Created by {{name}}, Welcome to the Weather Web App!</p><br>
          <img class ="myPic" src ="/img/photoAnomitro.jpg">
 </div>
  

    {{>footer}}
</body>

</html>