<!DOCTYPE html>

<html>

<head>

</head>
<body>

    <div class="main-content">
          {{>header}}

<img class ="myPic" src ="/img/photoAnomitro.jpg">
<p>{{author}}</p>

    </div>
  

    {{>footer}}
</body>

</html>