<!DOCTYPE html>

<html>

<head>

</head>
<body>

    <div class="main-content">
          {{>header}}
          <p>{{author}} It uses data from weatherstack.com and mapbox.com</p>
          <img class ="myPic" src ="/img/photoAnomitro.jpg">
 </div>
  

    {{>footer}}
</body>

</html>