<head>
    <link rel="stylesheet" href ="/css/style.css">
</head>    
<header>

<h1>{{title}} by {{name}}</h1>


    <a href = "/">Weather</a> 
    <a href = "/about">About</a> 
    <a href = '/help'>Help</a>
        


</header>